/* Estilo para cada item do carrossel */
.item {
    display: none; /* Oculta os itens que não estão ativos */
    width: 100%;
    height: 100%;
    position: absolute; /* Posiciona o item exatamente onde você quer */
    top: 0; /* Alinha no topo da tela */
    left: 0; /* Alinha à esquerda da tela */
    overflow: hidden; /* Remove qualquer overflow do conteúdo */
    background-color: var(--background); /* Usa a cor de fundo definida */
    transition: opacity 0.5s ease-in-out; /* Suaviza a transição de opacidade */
}

/* Mostra apenas o item ativo */
.item.active {
    display: block;
}

/* Estilo para o título do item */
.title {
    font-size: 12rem; /* Tamanho grande para destaque */
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; /* Texto em negrito */
    text-align: center; /* Texto centralizado */

    /* Centraliza o título vertical e horizontalmente */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo para a imagem de fruta */
.fruit {
    width: 90%;
    position: absolute;
    top: 0;
    z-index: 3; /* Coloca a imagem acima do fundo */
}

/* Estilo para a imagem de refrigerante */
.refri {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Coloca a imagem abaixo da fruta */
}

/* Estilo para os botões de navegação */
#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4; /* Coloca os botões acima de tudo */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo específico para o botão "anterior" */
#prev {
    left: 30px;
}

/* Estilo específico para o botão "próximo" */
#next {
    right: 30px;
}

/* Animação para a transição dos itens */
@keyframes toActive {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Correção da aplicação da animação */
.item.active .fruit,
.item.active .title {
    animation: toActive 0.5s ease-in-out;
}
